<form [formGroup]="form" (ngSubmit)="submit()" class="w-full">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2 p-4">
    <div>
      <app-custom-input formControlName="nombre" label="Nombres" />
    </div>
    <div>
      <app-custom-input formControlName="establecimiento" label="Establecimiento" />
    </div>

    <div>
      <app-custom-select
        formControlName="tipoDocumento"
        placeholder="Tipo de documento"
        [options]="tipo_documento().values"
        [labels]="tipo_documento().labels"
      />
    </div>
    <div>
      <app-custom-input formControlName="cedula" [label]="cedulaLabel()" />
    </div>
    <div>
      <app-custom-input formControlName="direccion" label="Direccion" />
    </div>

    <div>
      <app-custom-input formControlName="email" label="Email" />
    </div>

    <div>
      <app-custom-input formControlName="phone" label="Teléfono" />
    </div>

  </div>

  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    @if (!loading()) {
      <button
        class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex"
        type="button"
        (click)="user.emit(null)"
      >
        Cancelar
      </button>
      <button class="bg-secondary px-4 py-2 rounded-lg text-white" type="submit">Guardar</button>
    } @else {
      <div class="loader"></div>
    }
  </div>
</form>
