@if (loading()) {
<div class="h-full text-center flex justify-center items-center">
  <div class="loader"></div>
</div>
} @else {
<nav class="flex gap-4 justify-between items-center flex-wrap md:flex-row flex-col mt-4">
  <h2 class="text-stone-500 font-bold">Historia de contratos</h2>

  <!-- <div class="max-md:w-full">
      <button class="flex items-center gap-2 bg-secondary text-white px-4 py-2 rounded-lg">
        <div class="relative size-5 shrink-0">
          <img ngSrc="/assets/icons/add.svg" alt="Create" fill />
        </div>
        Descargar
      </button>
    </div> -->
</nav>

<hr class="my-4" />
<section>
  <div class="relative overflow-x-auto">
    <table class="w-full text-left">
      <thead>
        <tr class="*:font-normal *:text-neutral-400 *:px-3 *:py-2">
          <th scope="col">Tipo Membresia</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col">Monto</th>
          <th scope="col">Metodo de pago</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      @if (listMembresia(); as $listMembresia) {
      <tbody>
        @for (item of $listMembresia; track $index) {
        <tr class="bg-white border-b border-dashed border-neutral-200 *:px-6 *:py-4 *:whitespace-nowrap [&>th]:ps-0">
          <td>
            {{ config.tipo_membresia()[item.tipo_membresia] }}
          </td>
          <td>
            {{ item.fecha_inicio }}
          </td>
          <td>{{ item.fecha_fin }}</td>
          <td>
            {{ item.monto | currency }}
          </td>
          <td>
            {{ config.metodo_pago()[item.metodo_pago] }}
          </td>

          <td>
            <p
              class="text-center rounded-lg inline-block px-3 py-1 text-white font-bold"
              [ngClass]="item.status === 'Activa' ? 'bg-red-500' : ' bg-emerald-500'"
            >
              {{ config.statusUser()[item.status] }}
            </p>
          </td>
        </tr>
        }
      </tbody>
      } @else { @defer {
      <tbody>
        <td colspan="100%">
          <app-membresia-not-found />
        </td>
      </tbody>
      } }
    </table>
  </div>
</section>
}
