<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Iniciar Sesión</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          class="mt-1 block w-full p-2 border border-gray-300 rounded"
          formControlName="email"
          placeholder="Ingrese su correo"
        />
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700">Contraseña</label>
        <input
          id="password"
          type="password"
          class="mt-1 block w-full p-2 border border-gray-300 rounded"
          formControlName="password"
          placeholder="Ingrese su contraseña"
        />
      </div>

      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Iniciar Sesión</button>
    </form>
  </div>
</div>
