@if(loading()) {
<div class="h-full text-center flex justify-center items-center">
  <div class="loader"></div>
</div>

}@else { @if (pedidosClientes() && pedidosClientes().length > 0){
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1">
  @for (item of pedidosClientes(); track $index) {
  <div
    class="p-6 rounded-lg shadow-lg transition-all duration-300 bg-gray-100 hover:bg-gray-200 cursor-pointer max-w-lg mb-2"
    (click)="toggleExpand($index)"
    [style.maxHeight]="expandedIndex() === $index ? 'none' : '160px'"
    style="overflow: hidden"
  >
    <div class="flex justify-between items-center">
      <p class="font-bold truncate">{{ item.nombres }}</p>
      <div class="flex space-x-2">
        <button (click)="entregarPedido.open(); viewingPedido.set(item)" class="shrink-0">
          <img src="/assets/icons/check-icon.svg" class="size-4" alt="Check" />
        </button>
      </div>
    </div>

    <p class="text-sm text-gray-700 mb-2">
      <li>{{ item.direccion }}</li>
      <li>
        Teléfonos: @for (phone of item.phones; track $index) {
        <p class="text-neutral-500 truncate">{{ phone }}</p>
        }
      </li>
      <li>
        Emails: @for (email of item.emails; track $index) {
        <p class="text-neutral-500 truncate">{{ email }}</p>
        }
      </li>
      @for (item of item.pedidos; track $index) {
      <span>
        <li class="text-sm">{{ item.descripcion }}</li>
      </span>
      }
    </p>

    <p class="text-sm mb-0" [ngClass]="{ 'line-clamp-3': expandedIndex() !== $index }"></p>
  </div>
  }
</div>

}@else {

<div class="text-center py-4 max-w-2xl mx-auto">
  <div class="bg-slate-50 py-4 mb-5 rounded-xl">
    <img src="/assets/icons/no-contacts-found.svg" class="mx-auto" alt="Not Found" />
    <p class="text-lg font-bold text-center mt-4">No se encontraron pedidos.</p>
  </div>
</div>
} }

<app-modal #entregarPedido>
  @defer {
  <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
    <div class="bg-white w-full max-w-2xl rounded-lg overflow-auto">
      <header class="p-4 flex justify-between items-center border-b border-gray-300">
        <h2 class="font-bold text-xl truncate">Entregar Pedido</h2>
        <button (click)="entregarPedido.close()" class="shrink-0">
          <img
            ngSrc="/assets/icons/close-icon.svg"
            width="14"
            height="18"
            alt="close"
            style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
          />
        </button>
      </header>
      @if (viewingPedido(); as pedido ) {
      <div class="text-center p-6">
        <div class="flex justify-center">
          <div class="p-4 bg-red-100 rounded-full">
            <img src="/assets/icons/info.svg" alt="" class="size-12" />
          </div>
        </div>
        <h3 class="text-lg font-semibold text-gray-900 mt-4">¿Estás seguro de que deseas entregar este pedido?</h3>
        <p class="text-gray-500 mt-2">Una vez entregado, no podrás recuperar este pedido.</p>
        <div class="mt-6 flex flex-col md:flex-row justify-center gap-4">
          <button class="bg-gray-200 text-gray-600 px-4 py-2 rounded-md" (click)="entregarPedido.close()">
            Cancelar
          </button>
          <button
            class="bg-red-600 text-white px-4 py-2 rounded-md"
            (click)="finalizarPedido(pedido.id, pedido.pedidos.id); entregarPedido.close()"
          >
            Entregar
          </button>
        </div>
      </div>
      }
    </div>
  </div>
  }
</app-modal>
