<div class="p-5">
  <div class="rounded-2xl shadow bg-white p-6">
    <nav class="flex gap-4 justify-between items-center flex-wrap md:flex-row flex-col">
      <!-- Search -->
      <div class="bg-stone-100 w-full md:max-w-96 flex h-11 items-center rounded-2xl ps-4 gap-4">
        <label for="searchApp" class="relative size-4 shrink-0"
          ><img ngSrc="/assets/icons/search.svg" alt="Search" fill
        /></label>
        <input type="text" id="searchApp" placeholder="buscar" class="bg-transparent grow h-full px-2" />
      </div>

      <div class="max-md:w-full">
        <button
          class="flex items-center gap-2 bg-secondary text-white px-4 py-2 rounded-lg"
          (click)="newusersModal.open()"
        >
          <div class="relative size-5 shrink-0"><img ngSrc="/assets/icons/add.svg" alt="Create" fill /></div>
          Agregar
        </button>
      </div>
    </nav>

    <hr class="my-4" />
    <section>
      <div class="relative overflow-x-auto">
        <table class="w-full text-left">
          <thead>
            <tr class="*:font-normal *:text-neutral-400 *:px-6 *:py-3">
              <th scope="col">Nombre</th>
              <th scope="col">Establecimiento</th>
              <th scope="col">Indetificación</th>
              <th scope="col">Telefono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Email</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          @if (loading()) {
          <tbody>
            <td colspan="100%">
              <div class="text-center py-9">
                <div class="loader"></div>
              </div>
            </td>
          </tbody>
          } @else { @if (users(); as $users) {
          <tbody>
            @for (users of $users; track users.id) {
            <tr
              class="bg-white border-b border-dashed border-neutral-200 *:px-6 *:py-4 *:whitespace-nowrap [&>th]:ps-0"
            >
              <th scope="row" class="font-normal">
                <a [routerLink]="[users.id]">
                  <div class="flex gap-4 items-center">
                    <div class="size-10 bg-primary rounded-lg text-white flex items-center justify-center uppercase">
                      {{ users.nombre | initials }}
                    </div>
                    <div>
                      <p class="font-bold">{{ users.nombre }}</p>
                    </div>
                  </div>
                </a>
              </th>
              <td>
                {{ users.establecimiento }}
              </td>

              <td>
                {{ users.cedula }}
              </td>
              <td>
                @for (item of users.phones; track $index) {
                <p>
                  {{ item }}
                </p>
                }
              </td>
              <td>
                {{ users.direccion }}
              </td>
              <td>
                @for (item of users.emails; track $index) {
                <p>
                  {{ item }}
                </p>
                }
              </td>
              <td>
                <button class="bg-red-500 rounded-lg p-3 inline-block cursor-pointer" (click)="deleteUser(users.id)">
                  <img src="assets/icons/trash-icon.svg" alt="Eliminar" class="size-4" />
                </button>
              </td>
            </tr>
            }
          </tbody>
          } }
        </table>
      </div>

      @defer {
      <!-- @if (application()?.pagination) {
              <div class="mt-4">
                <app-pagination />
              </div>
            } -->
      }
    </section>
  </div>
</div>

<app-modal #newusersModal>
  @defer {
  <div class="h-full flex items-center">
    <div class="bg-white w-full rounded-lg overflow-auto max-h-full">
      <header class="p-4 flex justify-between items-center border border-b border-gray-300">
        <h2 class="font-bold text-xl truncate">Nuevo Usuario</h2>
        <button (click)="newusersModal.close()" class="shrink-0">
          <img
            ngSrc="/assets/icons/close-icon.svg"
            width="14"
            height="18"
            alt="close"
            style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
          />
        </button>
      </header>
      <section class="p-4">
        <app-create-user (user)="newusersModal.close()" />
      </section>
    </div>
  </div>
  }
</app-modal>
