<div class="p-5">
  <div class="rounded-2xl shadow bg-white p-6">
    <nav class="flex gap-4 justify-between items-center flex-wrap md:flex-row flex-col">
      <!-- Search -->
      <div class="bg-stone-100 w-full md:max-w-96 flex h-11 items-center rounded-2xl ps-4 gap-4">
        <label for="searchApp" class="relative size-4 shrink-0"
          ><img ngSrc="/assets/icons/search.svg" alt="Search" fill
        /></label>
        <input type="text" id="searchApp" placeholder="buscar" class="bg-transparent grow h-full px-2" />
      </div>

      <div class="max-md:w-full">
        <button class="flex items-center gap-2 bg-secondary text-white px-4 py-2 rounded-lg" (click)="newPedidos.open()" >
          <div class="relative size-5 shrink-0"><img ngSrc="/assets/icons/add.svg" alt="Create" fill /></div>
          Agregar
        </button>
      </div>
    </nav>
  </div>
</div>
<app-modal #newPedidos>
  @defer {
    <div class="h-full flex items-center">
      <div class="bg-white w-full rounded-lg overflow-auto max-h-full">
        <header class="p-4 flex justify-between items-center border border-b border-gray-300">
          <h2 class="font-bold text-xl truncate">Agregar Cliente</h2>
          <button (click)="newPedidos.close()" class="shrink-0">
            <img
              ngSrc="/assets/icons/close-icon.svg"
              width="14"
              height="18"
              alt="close"
              style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
            />
          </button>
        </header>
        <section class="p-4">
          <app-create-pedido (client)="newPedidos.close()" />
        </section>
      </div>
    </div>
  }
</app-modal>
